

.cardBox {
    position: relative;
    width: calc(100% - 18.75rem);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.cardBox .card {
    position: relative;
    background: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardBox .card .cardName {
    color: #999;
}

.cardBox .card .iconBox {
    color: #03a9f4;
    font-size: 2.5em;
    padding: 0 .5em;
}