<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers"> 1024</div>
            <div class="cardName">Daily Views</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-eye" aria-hidden="true"></i> 
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers"> 80</div>
            <div class="cardName">Sales</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-briefcase" aria-hidden="true"></i> 
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers"> 208</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-comments" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers"> 108400</div>
            <div class="cardName">Eaningss</div>
        </div>
        <div class="iconBox">
            <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
    </div>
</div>